html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  background: white;
  color: black;
}

a:link {
 color: #2A3BBB;
}
a:visited {
  color: #2A3BBB;
}

h1 {
  font-family: 'Oxanium', sans-serif;
  font-size: 48px;
}

.chatbox {
  padding: 20px;
  text-align: left;
}

.message:nth-child(2n) {
  color: #2A3BBB;
}
.message:nth-child(2n+1) {
  color: #EA3511;
}

.container {
  margin: auto;
  width: 900px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.option {
  display: block;
  padding-left: 20px;
}

a.eval:nth-child(1) {
  padding-left: 20px;
}

#footer {
  padding-bottom: 10px;
}